.attribution { font-size: 11px; text-align: center;
                margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background{
    display: flex;
}

.background p{
    margin: 10px 20px 0px 0px;
}

.switch { 
    position: relative; 
    display: inline-block; 
    width: 60px; 
    height: 34px; 
    
} 
/* Hide default HTML checkbox */ 
 
.switch input { 
    display: none; 
} 
/* The slider */ 
 
.slider { 
    position: absolute; 
    cursor: pointer; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: #ccc; 
    -webkit-transition: .4s; 
    transition: .4s; 
} 
.slider:before { 
    position: absolute; 
    content: ""; 
    height: 26px; 
    width: 26px; 
    left: 4px; 
    bottom: 4px; 
    background-color: white; 
    -webkit-transition: .4s; 
    transition: .4s; 
} 
input:checked + .slider { 
    background-color: #2196F3; 
} 
input:focus + .slider { 
    box-shadow: 0 0 1px #2196F3; 
} 
input:checked + .slider:before { 
    -webkit-transform: translateX(26px); 
    -ms-transform: translateX(26px); 
    transform: translateX(26px); 
} 
/* Rounded sliders */ 
 
.slider.round { 
    border-radius: 34px; 
} 
.slider.round:before { 
    border-radius: 50%; 
}

body.dark{
    /* color: whitesmoke; */
    background-color:  hsl(230, 17%, 14%);
}

.container{
    width: 80%;
    color: hsl(228, 34%, 66%);
    margin: auto;
    cursor: pointer;
}



.header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.display1{
    /* height: 30vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    
    text-align: center;
}

.numbers{
    font-weight: 900;
    font-size: x-large;
}

.display2{
    height: 40vh;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    text-align: center;
    /* background-color: hsl(228, 28%, 20%); */
    
}

.facebook, .twitter, .instagram, .youtube{
    /* height: 100%;
    width: 100%; */
   /* background-color: chartreuse; */
   
   
   align-content: center;
   background-color: hsl(228, 28%, 20%);
}

.fa-sort-up{
    color: green;
}

.fa-sort-down{
    color: red;
}
.facebook, .twitter{
    padding: 40px;
    border-top: 5px solid hsl(208, 92%, 53%);
}

.instagram{
    border-top: 5px solid rgba(255, 0, 0, 0.363);
    padding: 40px;
}

.youtube{
    border-top: 5px solid hsl(348, 97%, 39%);
    padding: 40px;
}
.header2{
    height: 10vh;
}

.fb1, .fb2, .inst1, .inst2, .twit1, .twit2, .you1, .you2{
    background-color: hsl(228, 28%, 20%);
    padding-top: 15%;
    width: 100%;
}

@media(max-width: 475px){
    .display1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    
    .display2{
        display: grid;
        grid-template-columns: 1fr;
    }

    .fb1, .fb2, .inst1, .inst2, .twit1, .twit2, .you1, .you2{
        padding: 30px;
    }

    .facebook, .twitter, .instagram, .youtube{
        padding: 40px;
    }

    .header{
        display: flex;
    }

    h1{
        font-size: x-large;
    }

    h2{
        
        margin-top: 30px;
        margin-bottom: 0px;
    }
    body{
        position: relative;
    }
    .attribution{
        /* position: absolute;
        top: 165%; */
        text-align: center;
        align-self: center;
        margin: 0 auto;
        position: absolute;
        top: 165%;
    }
}